@model Plutonium.ViewModels.CrudViewModel

@{
    ViewData["s"] = "CRUD - " + @Model.ModelName;
}

@*

        <h1>@Model.CRUDModel.Label</h1>

        <table id="memberlist">
            <tbody>
                @foreach (Plutonium.Classes.CRUDField c in Model.CRUDFields)
                {
                    <tr>

                        <td>@c.Label</td>
                        <td>@c.Name</td>
                        <td>@c.Ordering</td>
                        <td>@c.IsVisible</td>
                        <td>@c.Type</td>

                    </tr>
                }
            </tbody>
        </table>


    <h2>Address Details</h2>

*@

<div id="AddressTable"></div>

@section Scripts {

    <script>
        @*'@Html.Raw(@Url.Action("GetItems/Link"))',*@
       @* 'https://localhost:44312/Crud/Delete/Link'*@
        $(document).ready(function () {
            $('#AddressTable').jtable({
                title: '@Model.CRUDModel.Label',
                actions: {
                    listAction: '@Url.Content("~/" + @Model.ModelName + "/GetItems")',
                    createAction: '@Url.Content("~/" + @Model.ModelName + "/Create")',  
                    updateAction: '@Url.Content("~/" + @Model.ModelName + "/Edit")',
                    deleteAction:'@Url.Content("~/" + @Model.ModelName + "/Delete")'
                },
                fields: {
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },

               @Html.Raw(@Model.JsonFields)


                }
            });
            $('#AddressTable').jtable('reload');
        });

    </script>
}
