@inject Microsoft.Extensions.Options.IOptions<Plutonium.Services.AppConfiguration> AppSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plutonium - @ViewData["Title"]</title>
    <link href="~/lib/jtable/themes/metro/lightgray/jtable.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Plutonium</a>
                </div>
                <ul class="nav navbar-nav" id="navbar_list">
                </ul>

            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @AppSettings.Value.AppName - @AppSettings.Value.AppVersion
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jtable/jquery.jtable.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>
        $(document).ready(function () {
            //  var link = $("<li class='nav-item'><a class='nav-link text-dark' href = 'https://localhost:44323/Home/Reader'>Reader22</a></li>");
            //  $("#navbar_list").append(link);
            //      }
            $.ajax({
                url: "@Url.Content("~/MenuItem/GetItems")"
            }).then(function (data) {
                for (let i = 0; i < data.Records.length; i++) {

                    var pid = data.Records[i].Id;

                    if (data.Records[i].ParentId == null) { // No Parent - Top Level
                        var clildren = data.Records.filter(
                            function (e) {
                                return e.ParentId == pid;
                            }
                        );
                        if (clildren.length != 0) {
                            // Parent has children
                            // add the Parent as a dropdown
                            var link = $("<li class='nav-item dropdown'>" +
                                "<a class='nav-link dropdown-toggle text-dark' data-toggle='dropdown' href = '#' role='button' aria-haspopup='true' aria-expanded='false'>" + data.Records[i].Name + "<span class='caret'></span></a>" +
                                "<div class='dropdown-menu'>" +
                                childDropdownTiems(clildren) +
                                "</div>" +
                                "</li>");
                            // add the children
                            $("#navbar_list").append(link);
                        }
                        else {
                            // Parent has no children
                           // var link = $("<li><a class='nav-link text-dark' href = '" + window.location.protocol + "//" + window.location.host + data.Records[i].Url + "'>" + data.Records[i].Name + "</a></li>");
                            var root = '@Url.Content("~")'
                            var link = $("<li><a class='nav-link text-dark' href = '" + root + data.Records[i].Url + "'>" + data.Records[i].Name + "</a></li>");

                            $("#navbar_list").append(link);
                        }
                    }

                }
            });
        });
        function childDropdownTiems(childArr) {
            var result = "";
            for (let j = 0; j < childArr.length; j++) {
                var root = '@Url.Content("~")'
                result += "<a class='dropdown-item' href='" + root + childArr[j].Url + "'>" + childArr[j].Name + "</a>";
            }
            return result;
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
